<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONEY MANAGER</title>
</head>
<body>
    <nav>
        <a href="{{url_for('home')}}">HOME</a>
        {% if session.get('user_id') %}
        
            <a href="{{ url_for('logout') }}">Logout</a>

        {% else %}

            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('register') }}">Register</a>
    
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>