
<!DOCTYPE html>
{% extends "base.html" %}

    {% block content %}
    <h1>MONEY MANAGER</h1>
    <h4>Welcome <span style="text-transform: uppercase;">{{username}}</span></h4>
    <form method="POST">
        <input type="date" name="date"> 
        <input type="number" name="amount" placeholder="AMOUNT" required> 
        <select name="transaction-type" required>
            <option value="income">INCOME</option>
            <option value="expense">EXPENSE</option>
        </select> 
        <select name="category_id" required onchange="if (this.value==='add') window.location.href='{{ url_for('categories')}}'">
            <option value="">Select Category</option>
            <option value="add">➕ Add new category</option>
            {% for c in categories %}
            <option value="{{ c['id'] }}">{{ c['name'] }}</option>
            {% endfor %}
        </select>
        <button type="submit">SUBMIT</button>
    </form>
    
    <h2>TRANSACTIONS</h2>
    <ul>
        {%if transactions %}
        <p>AMOUNT   |   TYPE    |   CATEGORY</p>
        {% for t in transactions %}
            <li>
                <span class="transaction-text">
                    {{ t["date"] }} — ₹{{ t["amount"] }} — {{ t["type"] }} ({{ t["category"] }})
                </span>
                <a href="{{ url_for('delete_trans', id=t['id']) }}" class="delete-link">❌</a>
            </li>
        {% endfor %}
        {% else %}
            <li>No transactions yet</li>
        {% endif %}
    </ul>

    <h3>SUMMARY</h3>
    <ul class="summary">
        <li><strong>Total Income:</strong> ₹{{ income }}</li>
        <li><strong>Total Expense:</strong> ₹{{ expense }}</li>
        <li><strong>Balance:</strong> ₹{{ bal }}</li>
    </ul>

    {% endblock %}
